@model Lab1.Models._80sMovieModel

@{
    ViewBag.Title = "About";
}
<h2>Lab 1: ASP.NET MVC and CRUD</h2>

<p>Lab 1 is to learn how to make a basic CRUD database and make read, write, edit, and delete options for the data from said database.</p>
<p>This particular database is a list of 80's movies</p>
